process {
    resourceLabels = [
        'pipeline-name': 'rnaseq',
        'right-size-test': 'default',
        'launch-time': new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss'),
    ]

    cpus   = 1
    memory = 6.GB

    withLabel:process_single {
        cpus   = 1
        memory = 6.GB
    }
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 36.GB
    }
    withLabel:process_high {
        cpus   = 12
        memory = 72.GB
    }
    withLabel:process_high_memory {
        memory = 200.GB
    }
}
