process {
    resourceLabels = [
        'pipeline-name': 'sarek',
        'right-size-test': 'double-cpu-mem',
        'launch-time': new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss'),
    ]

    cpus   = 2
    memory = 12.GB

    withLabel:process_single {
        cpus   = 2
        memory = 12.GB
    }
    withLabel:process_low {
        cpus   = 4
        memory = 24.GB
    }
    withLabel:process_medium {
        cpus   = 12
        memory = 72.GB
    }
    withLabel:process_high {
        cpus   = 24
        memory = 144.GB
    }
    withLabel:process_high_memory {
        memory = 400.GB
    }
    withName: 'UNZIP.*|UNTAR.*|TABIX.*|BUILD_INTERVALS|CREATE_INTERVALS_BED|VCFTOOLS|BCFTOOLS.*|SAMTOOLS_INDEX' {
        cpus   = 2
        memory = 2.GB
    }
    withName: 'FASTQC'{
        cpus   = 8
        memory = 8.GB
    }
    withName: 'FASTP'{
        cpus   = 24
        memory = 8.GB
    }
    withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
        cpus   = 48
        memory = 60.GB
    }
    withName:'CNVKIT_BATCH' {
        label  = "process_high"
        memory = 72.GB
    }
    withName: 'GATK4_MARKDUPLICATES|GATK4SPARK_MARKDUPLICATES' {
        cpus   = 12
        memory = 60.GB
    }
    withName:'GATK4_APPLYBQSR|GATK4SPARK_APPLYBQSR|GATK4_BASERECALIBRATOR|GATK4SPARK_BASERECALIBRATOR|GATK4_GATHERBQSRREPORTS'{
        cpus   = 4
        memory = 8.GB
    }
    withName:'MOSDEPTH'{
        cpus   = 8
        memory = 8.GB
    }
    withName:'STRELKA.*|MANTA.*' {
        cpus   = 20
        memory = 16.GB
    }
    withName:'SAMTOOLS_CONVERT'{
        memory = 8.GB
    }
    withName:'GATK4_MERGEVCFS'{
        cpus   = 4
        memory = 8.GB
    }
    withName: 'MULTIQC' {
        cpus   = 8
        memory = 24.GB
    }
}
