process {
    resourceLabels = [
        'pipeline-name': 'sarek',
        'right-size-test': 'default',
        'launch-time': new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss'),
    ]

    cpus   = 1
    memory = 6.GB

    withLabel:process_single {
        cpus   = 1
        memory = 6.GB
    }
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 36.GB
    }
    withLabel:process_high {
        cpus   = 12
        memory = 72.GB
    }
    withLabel:process_high_memory {
        memory = 200.GB
    }
    withName: 'UNZIP.*|UNTAR.*|TABIX.*|BUILD_INTERVALS|CREATE_INTERVALS_BED|VCFTOOLS|BCFTOOLS.*|SAMTOOLS_INDEX' {
        cpus   = 1
        memory = 1.GB
    }
    withName: 'FASTQC'{
        cpus   = 4
        memory = 4.GB
    }
    withName: 'FASTP'{
        cpus   = 12
        memory = 4.GB
    }
    withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
        cpus   = 24
        memory = 30.GB
    }
    withName:'CNVKIT_BATCH' {
        label  = "process_high"
        memory = 36.GB
    }
    withName: 'GATK4_MARKDUPLICATES|GATK4SPARK_MARKDUPLICATES' {
        cpus   = 6
        memory = 30.GB
    }
    withName:'GATK4_APPLYBQSR|GATK4SPARK_APPLYBQSR|GATK4_BASERECALIBRATOR|GATK4SPARK_BASERECALIBRATOR|GATK4_GATHERBQSRREPORTS'{
        cpus   = 2
        memory = 4.GB
    }
    withName:'MOSDEPTH'{
        cpus   = 4
        memory = 4.GB
    }
    withName:'STRELKA.*|MANTA.*' {
        cpus   = 10
        memory = 8.GB
    }
    withName:'SAMTOOLS_CONVERT'{
        memory = 4.GB
    }
    withName:'GATK4_MERGEVCFS'{
        cpus   = 2
        memory = 4.GB
    }
    withName: 'MULTIQC' {
        cpus   = 4
        memory = 12.GB
    }
}
