process {
    resourceLabels = [
        'pipeline-name': 'proteinfold',
        'right-size-test': 'half-cpu',
        'launch-time': new java.util.Date().format('yyyy-MM-dd_HH-mm-ss'),
    ]

    cpus   = { check_max( 1, 'cpus' ) }
    memory = { check_max( 6.GB, 'memory' ) }

    withLabel:process_single {
        cpus   = { check_max( 1, 'cpus' ) }
        memory = { check_max( 6.GB, 'memory' ) }
    }
    withLabel:process_low {
        cpus   = { check_max( 1, 'cpus' ) }
        memory = { check_max( 12.GB, 'memory' ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 3, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 6, 'cpus' ) }
        memory = { check_max( 72.GB, 'memory' ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 200.GB, 'memory' ) }
    }

    withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED' {
        // max vcpu quota for g4dn instances is 8, which means can only run at most
        // a single g4dn.2xlarge.
        cpus = 3
        // memory on g4dn.2xlarge 32 GB
        memory = 30.GB
        queue = 'NextflowGPU'
    }
}
