process {

    beforeScript = 'chmod +x .command.run'

     withName: '*' {
        env.TRACER_TRACE_ID = workflow.sessionId
    }
    
    // Prevent processes from using more than these limits
    resourceLimits = [
        // Save one CPU as extra
        cpus: Runtime.runtime.availableProcessors() - 1,
        // Query maximum available memory and subtract 2 GB (1<<31)
        memory: 16_000_000_000 as BigInteger
        
    ]
}

docker {
    // If running arm chip (e.g. Apple silicon) tell docker engine to run x86 (requires emulation via Rosetta)
    runOptions = System.properties['os.arch'] == 'aarch64' ? '--platform=linux/amd64' : null
    fixOwnership = true
}