[submodule "pipelines/nf-core/sarek"]
	path = frameworks/pipelines/nf-core/sarek
	url = https://github.com/nf-core/sarek.git
[submodule "pipelines/nf-core/rnaseq"]
	path = frameworks/pipelines/nf-core/rnaseq
	url = https://github.com/nf-core/rnaseq.git
[submodule "pipelines/nf-core/proteinfold"]
	path = frameworks/pipelines/nf-core/proteinfold
	url = https://github.com/nf-core/proteinfold.git
