process {
    cpus   = 1
    memory = 6.GB

    withLabel:process_single {
        cpus   = 1
        memory = 6.GB
    }
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 36.GB
    }
    withLabel:process_high {
        cpus   = 12
        memory = 72.GB
    }
    withLabel:process_high_memory {
        memory = 200.GB
    }

    process {
    withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED' {
        cpus = 4
        memory = 12.GB
        queue = 'NextflowGPU'
    }

     withName: '*' {
        env.TRACER_TRACE_ID = workflow.sessionId
    }
}

    
}
