bucketDir = 's3://tracer-nxf-work/work'

process {
    executor = 'awsbatch'
    queue = 'NextflowCPU'

    // Set the environment variable for each container which is equal to the session ID
    withName: '*' {
        env.TRACER_TRACE_ID = workflow.sessionId
    }
}

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
        maxSpotAttempts = 5
    }
}
