bucketDir = 's3://tracer-nxf-work/work'

process {
    executor = 'awsbatch'
    queue = 'NextflowCPU'
}

aws {
    region = 'us-east-2'
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
    }
}

process {
    // Most of the images don't have any, or at least, the correct version of libz for the AWS CLI
    // to function. It does come with its own libz, however, which must be added to the dynamic library
    // search path before the AWS CLI is called. LD_LIBRARY_PATH adds the AWS CLI-included libraries
    // to the search path and must be set at the container level so it is exported when the CLI is called,
    // which is why it has to be set as a container option, rather than set in the `env` config scope.
    containerOptions = '--env LD_LIBRARY_PATH=/usr/local/aws-cli/v2/current/dist'
}