process {
    // Prevent processes from using more than these limits
     withName: '*' {
        env.TRACER_TRACE_ID = workflow.sessionId
    }
    resourceLimits = [
        // Save one CPU as extra
        cpus: Runtime.runtime.availableProcessors() - 1,
        // Query maximum available memory and subtract 2 GB (1<<31)
        memory: (System.properties['os.name'] == 'Mac OS X' ?
            'sysctl -n hw.memsize'.execute().text as BigInteger :
            'grep -Po "(?<=MemTotal:)\\d+" /proc/meminfo'.execute().text as BigInteger) - (1<<31)
    ]
}

docker {
    // If running arm chip (e.g. Apple silicon) tell docker engine to run x86 (requires emulation via Rosetta)
    runOptions = System.properties['os.arch'] == 'aarch64' ? '--platform=linux/amd64' : null
    fixOwnership = true
}