// The arm profile in the released rnaseq version replaces process images with arm-only versions,
// but left in the following docker runOptions line, which makes it impossible to actually use the
// arm images on arm hardware. Regardless of this bug, for maximal compatibility with both x86 and
// arm architectures, it is better to leave the runOptions as is and not use the arm images. This
// does require that x86 emulation is enabled for Docker, e.g., via Rosetta 2 on Apple Silicon.
docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'