process {
    // The default image used to provide awk is quay.io/biocontainers/gawk:5.1.0. Unfortunately, because
    // it is based on `buildroot`, which uses musl libc, it is not possible to run the AWS CLI binary on
    // that OS. A replacement image must include a version of awk that replicates the functionality of
    // GNU Awk. I couldn't find an image that had both GNU Awk and procps out of the box so I opted for
    // this Ubuntu image, which does have procps but includes mawk instead of gawk. It's POSIX compatible
    // and seems to work in this context without any issues (e.g., lacking gawk-specific features).
    withName: '.*:?(GAWK|CREATE_INTERVALS_BED|ADD_INFO_TO_VCF)$' {
        // Use full path to docker image because config sets the default registryt to quay.io
        // This image contains mawk 1.3.4
        container = 'registry.hub.docker.com/library/ubuntu:25.04'
    }
}