# Ignore all JAR files (globally and within specific folders)
*.jar
frameworks/wdl/*.jar
wdl/*.jar

# Ignore Cromwell job outputs
cromwell-executions/
cromwell-workflow-logs/
cromwell-executions.zip
*.log

# Ignore Docker intermediate and bioinformatics outputs
*.bam
*.sam
*.tmp
*.out
*.err

# Ignore workflow engine caches (Nextflow, WDL, CWL)
.work/
.cache/
