bucketDir = 's3://tracer-nxf-work/work'

// Generate a UUID when the config is loaded - this will be consistent for all jobs
import java.util.UUID
def sessionUUID = UUID.randomUUID().toString()

process {
    executor = 'awsbatch'
    queue = 'NextflowCPU'

    // Set the env variables for the containers
    containerOptions = "--env TRACER_TRACE_ID=${sessionUUID}"
    
    resourceLabels = [
        'launch-time': new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss'),
        'nextflow-session-uuid': "${-> workflow.sessionId}",
        'custom-session-uuid': sessionUUID
    ]
}

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
        maxSpotAttempts = 5
    }
}
