// Generate a custom UUID that will be consistent across this config
params {
    customUUID = java.util.UUID.randomUUID().toString()
}

workDir = 's3://tracer-nxf-work/work'

process {
    executor = 'awsbatch'
    queue = 'NextflowCPU'

    // Set the env variables for the containers - using the custom UUID
    containerOptions = "--env TRACER_TRACE_ID=${params.customUUID}"

    resourceLabels = [
        'launch-time': new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss'),
        'nextflow-session-uuid': "${workflow.sessionId}",
        'custom-session-uuid': "${params.customUUID}"
    ]
}

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
        maxSpotAttempts = 5
    }
}
