nextflow.enable.dsl=2

conda {
    enabled = true
}

params {
    input = "pipelines/linux-x86-ubuntu/test_data/*.fasta"
    outdir = "pipelines/linux-x86-ubuntu/results"
}

process {
    withLabel:conda {
        conda = 'bioconda::fastqc=0.11.9'
    }
    executor = 'local'
    cpus = 2
    memory = '4 GB'
}
