process {
     resourceLabels = [
        'pipeline-name': 'proteinfold',
        'right-size-test': 'half-cpu-mem',
        'launch-time': new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss'),
    ]

    withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED' {
        // max vcpu quota for g4dn instances is 8, which means can only run at most
        // a single g4dn.2xlarge.
        cpus = 3
        // memory on g4dn.2xlarge 32 GB
        memory = 18.GB
        queue = 'NextflowGPU'
    }

    cpus   = 1
    memory = 3.GB

    withLabel:process_single {
        cpus   = 1
        memory = 3.GB
    }
    withLabel:process_low {
        cpus   = 1
        memory = 6.GB
    }
    withLabel:process_medium {
        cpus   = 3
        memory = 18.GB
    }
    withLabel:process_high {
        cpus   = 6
        memory = 36.GB
    }
    withLabel:process_high_memory {
        memory = 100.GB
    }
}
